html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
.container {
  padding-inline: 5px;
  max-width: 1232px; //1212px
  margin: 0 auto;
}

@media (max-width: 375px) {
  .container {
    padding-inline: 15px;
  }
}
